@import './basics.scss';
@import './variables.scss';
@import './navbar.scss/';
@import './projects.scss';

.App {
  text-align: left;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}